.venv/
.vscode/
.ipynb_checkpoints/
__pycache__/

train.csv
household_power_consumption.txt

*.zip
*.pyc
*.pkl
*.h5
*.keras
.venv/
.vscode/
.ipynb_checkpoints/
__pycache__/

train.csv
weather_train.csv
household_power_consumption.txt

*.pkl
*.zip